<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RootFolders" type="MixMax.Main.Common.MMMConfig, MixMax.Main" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <RootFolders>
    <RootFolder name ="Uno" path="ssssssaup" />
  </RootFolders>
</configuration>