<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>MixMax</title>
    <link rel="stylesheet" href="../content/css/site.css"/>
</head>
<body>
<header>
    <div><img src="../content/mixmaxLogo.jpg" height="200"/>
    </div>
    <div><em>Welcome To MixMax amazing Music Lib creator!</em>
    </div>
    <nav>
        <ul>
            <li><a href="allFileView.html">All Files</a></li>
        </ul>
    </nav>
</header>
<section>
    <button id="generatePlaylist">Generate playlists</button>
    <p>all results:</p>
    <div id="resultsdiv"></div>
</section>
<footer>
    All right reserved to someone!
</footer>
<script type="text/javascript" src="../content/scripts/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../content/scripts/Main.js"></script>
</body>

</html>